.nav-link:hover{
    color: black;
}
.nav-con {
    background-color: transparent;
}
.nav_letter{
    font-weight: bold;
}
.nav_letter::after {
    content: '';
    display: block;
    width: 0;
    text-align: center;
    margin: auto;
    height: 3px;
    margin-top: 1%;
    background: black;
    transition:ease-in 0.3s
}

.nav_letter:hover::after {
    width: 100%;
}

.banner-image {
    background-image: url('KraoHdRYrRE.jpg');
    background-size: cover;
  }
.vert{
    color: grey;
}
.active{
    color: black;
}